<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .decide{
         color: red;   
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1>The weather in <%= city %> is <%= r %> <span class="decide">Degree Celcius</span></h1>
</body>
</html>